@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

*{
    padding: 0px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 80px;
    width: 100%;
    background: rgb(14, 14, 54);
    position: fixed;
}

label.logo{
    font-size: 35px;
    font-weight: 900;
    color: white;
    padding: 0 20px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px  10px;
    border-radius: 3px;
    font-weight: bold;
}

a:active, a:hover{
    border: none;
    color: #3498db;
    transition: .5s;
}

nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}

@media (max-width: 909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(14, 14, 54);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;  
    }
}

.heading{
    padding-top: 120px;
    margin-left: 20px;
}

.para{
    padding-top: 30px;
    margin-left: 20px;
}

.para2{
    padding-top: 30px;
    margin-left: 20px;
}

li{
    margin-top: 10px;
}

.html-doc{
    width: 300px;
    height: 200px;
    margin-left: 20px;
    margin-top: 40px;
}

.html-tag{
    width: 310px;
    height: 500px;
    margin-left: 20px;
}

.heading2{
    margin-top: 20px;
    margin-left: 20px;
}

.html-video{
    width: 450px;
    margin-left: 20px;
    padding: 20px;
}

